@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;
    --card: 0 0% 2%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 2%;
    --popover-foreground: 0 0% 98%;
    --primary: 330 80% 60%;
    --primary-foreground: 0 0% 2%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 60%;
    --accent: 330 80% 60%;
    --accent-foreground: 0 0% 2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 330 80% 60%;
    --chart-1: 330 70% 50%;
    --chart-2: 330 60% 45%;
    --chart-3: 330 80% 55%;
    --chart-4: 330 65% 60%;
    --chart-5: 330 75% 55%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 0 0% 2%;
    --foreground: 0 0% 98%;
    --card: 0 0% 2%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 2%;
    --popover-foreground: 0 0% 98%;
    --primary: 330 80% 60%;
    --primary-foreground: 0 0% 2%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 60%;
    --accent: 330 80% 60%;
    --accent-foreground: 0 0% 2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 330 80% 60%;
    --chart-1: 330 70% 50%;
    --chart-2: 330 60% 45%;
    --chart-3: 330 80% 55%;
    --chart-4: 330 65% 60%;
    --chart-5: 330 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
